# macOS
.DS_Store

# Common logs/temp
*.log
*.jou
*.str
*.tmp
*.cache

# Vivado generated artifacts
.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.gen/

# Vivado backups/checkpoints
*.backup.jou
*.backup.log
*.Xil
*.dcp
